.collection-item {
  width: 255px;
  height: 430px;
  display: flex;
  flex-direction: column;
  padding: 5px;

  .collection-image {
    position: relative;
    height: 95%;
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    overflow: hidden;

    &:hover {
      .button {
        display: block;
      }
      .image {
        opacity: 0.85;
      }
    }

    .image {
      position: absolute;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }
    .button {
      display: none;
      position: relative;
      align-self: flex-end;
      opacity: 0.85;
      width: 90%;
    }
  }
  .footer {
    height: 5%;
    display: flex;
    justify-content: space-between;
  }
}