.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 70px;
  right: 0;
  z-index: 5;

  .cart-items {
    height: 240px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
  }

  .empty-message {
    font-size: 1.2em;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .checkout-button {
    margin-top: auto;
  }
}